<% const {_id:blogId, banner: {url: BannerURL}, title, owner:{name,username},
reaction, readingTime, totalBookmark, createdAt } = blog /* * Compress
bannerusing cloudinary Transformation URL API */ const compressedBannerURL =
BannerURL?.replace("upload/","upload/w_360,h_155,c_auto/q_auto/f_auto/") %>

<div class="card">
  <% if(compressedBannerURL){ %>
  <figure class="card-banner img-holder">
    <img
      src="<%= compressedBannerURL %>"
      alt="<%= title %>"
      width="360"
      height="155"
      class="img-cover"
    />
  </figure>
  <% } %>
  <div class="card-content">
    <div class="card-meta">
      <div class="avatar">
        <p class="title-medium"><%= name.at() %></p>
      </div>
      <div>
        <p class="label-large text-on-surface"><%= name %></p>
        <p class="body-small text-on-surface-varient">
          <%= new
          Date(createdAt).toLocaleDateString("en-US",{month:"short",day:"numeric",year:"numeric"})
          %>
        </p>
      </div>
      <p class="label-small text-on-surface-varient trailing-text">
        <%= readingTime %> min read
      </p>
    </div>

    <div class="card-title title-medium text-on-surface"><%= title %></div>
  </div>
  <div class="card-footer">
    <div class="wrapper">
      <span class="icon-small material-symbols-rounded text-on-surface-varient"
        >favorite</span
      >
      <p class="body-medium text-on-surface-varient">
        <%= reaction %> Reactions
      </p>
    </div>

    <div class="wrapper">
      <span class="icon-small material-symbols-rounded text-on-surface-varient"
        >bookmark</span
      >
      <p class="body-medium text-on-surface-varient">
        <%= totalBookmark %> Bookmark
      </p>
    </div>
  </div>
  <a href="/blogs/<%=blogId%>" title="<% title %>" class="card-link"></a>
  <div class="state-layer"></div>
</div>
